.containerMain {
	margin: 20px 10px;
}

input:required, input:invalid {
    box-shadow: none;
}

#accounts-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#login-dropdown-list {
    left: auto;
    right: 5px;
}

.render-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}