<head>
	<title>OpenLIMS</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="render-target"></div>
</body>